@{
	ViewBag.Title = "ASP.NET MVC Paging sample - Home";
}

@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h2>@ViewBag.Title</h2>
			</hgroup>
			<p>
				
			</p>
		</div>
	</section>
}
<dl>
	<dt>@Html.ActionLink("Simple paging", "Index", "Paging")</dt>
	<dd>An example of paging a list of products.</dd>
</dl>
<dl>
	<dt>@Html.ActionLink("Paging with filtering #1", "ViewByCategory", "Paging")</dt>
	<dd>A list of products that are filtered by category.</dd>
</dl>
<dl>
	<dt>@Html.ActionLink("Paging with filtering #2", "ViewByCategories", "Paging")</dt>
	<dd>A list of products that are filtered by multiple categories.<br />
	This demo also uses a strongly typed viewmodel that combines the results and the categories.</dd>
</dl>
<dl>
	<dt>@Html.ActionLink("Simple paging in an area", "Index", "Paging", new { Area = "Area51" }, null )</dt>
	<dd>The pager also supports area's.</dd>
</dl>
<dl>
	<dt>@Html.ActionLink("Paging with AJAX", "IndexAjax", "Paging")</dt>
	<dd>The pager supports unobtrusive AJAX via jquery.</dd>
</dl>
<dl>
	<dt>@Html.ActionLink("Alternative pager DisplayTemplate", "Bootstrap", "Paging")</dt>
	<dd>The pager in combination with Twitter Bootstrap</dd>
</dl>
<dl>
	<dt>@Html.ActionLink("Another alternative pager DisplayTemplate", "Bootstrap3", "Paging")</dt>
	<dd>The pager in combination with Twitter Bootstrap 3</dd>
</dl>

<dl>
	<dt>@Html.ActionLink("Paging with a custom page route value key", "CustomPageRouteValueKey", "Paging")</dt>
	<dd>The pager supports specifying the route value key used for 'page' when generating pagination links</dd>
</dl>
